List is same as array, but we can put any types of data in list, while array can hold only one types of data.
list is mutable, so we can change list elements and access list elements using index.
1.) Creating lists
2.) Indexing and Slicing Lists
3.) Basic List Methods
4.) Nesting Lists
5.) Introduction to List Comprehensions

In python [] used to create a list.

In [1]:
# create a list
myList=[1,2,3]

In [2]:
myList

[1, 2, 3]

In [3]:
lst=['name','roll number',23,45,2.54,0.765]

In [4]:
lst

['name', 'roll number', 23, 45, 2.54, 0.765]

In [5]:
#To access list elements we are using index same as array
lst[0]

'name'

In [6]:
lst[1]

'roll number'

In [7]:
print(lst[-1])
print(lst[5])

0.765
0.765

we can add elements in a list using + operator with other list and use slicing feature also applicable in list

In [8]:
lst+"ram"

TypeError: can only concatenate list (not "str") to list

In [10]:
lst+['ram']

['name', 'roll number', 23, 45, 2.54, 0.765, 'ram']

In [11]:
lst+[9,8,7,6]

['name', 'roll number', 23, 45, 2.54, 0.765, 9, 8, 7, 6]

In [12]:
lst[::]

['name', 'roll number', 23, 45, 2.54, 0.765]

In [13]:
lst[::-1]

[0.765, 2.54, 45, 23, 'roll number', 'name']

In [14]:
lst[2:7:2]

[23, 2.54]

In [15]:
lst[2:9:2]

[23, 2.54]

In [16]:
lst*3

['name',
 'roll number',
 23,
 45,
 2.54,
 0.765,
 'name',
 'roll number',
 23,
 45,
 2.54,
 0.765,
 'name',
 'roll number',
 23,
 45,
 2.54,
 0.765]

Basic List Methods
If you are familiar with another programming language, you might start to draw parallels between arrays in another language and lists in Python. Lists in Python however, tend to be more flexible than arrays in other languages for a two good reasons: they have no fixed size (meaning we don't have to specify how big a list will be), and they have no fixed type constraint (like we've seen above).

In [1]:
# append() method to add an element at last
lst= [1,2,3,4,5]
lst.append(6)
print(lst)

[1, 2, 3, 4, 5, 6]

In [2]:
print(lst)

[1, 2, 3, 4, 5, 6]

In [3]:
len(lst)

6

In [4]:
lst.pop()

6

In [5]:
lst

[1, 2, 3, 4, 5]

In [6]:
lst.pop()

5

In [7]:
lst

[1, 2, 3, 4]

In [8]:
lst.pop(1)

2

In [9]:
lst.append(10)

In [10]:
lst.append(100)

In [11]:
lst

[1, 3, 4, 10, 100]

In [12]:
lst.pop(0)

1

In [13]:
lst

[3, 4, 10, 100]

In [14]:
lst.pop(0)

3

In [15]:
lst

[4, 10, 100]

reverse and sort method of list

In [16]:
newList = [30,20,10,50,76,34,25,78,51]
newList.reverse()

In [17]:
newList

[51, 78, 25, 34, 76, 50, 10, 20, 30]

In [18]:
newList.sort()

In [19]:
newList

[10, 20, 25, 30, 34, 50, 51, 76, 78]

In [20]:
#Nested list
lst=[[1,2,3],[4,5,6],[7,8,9]]

In [21]:
lst

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [22]:
lst[0]

[1, 2, 3]

In [23]:
lst[1]

[4, 5, 6]

In [24]:
lst[2]

[7, 8, 9]

In [25]:
lst[0][0]

1

In [26]:
lst[1][0]

4

In [27]:
lst[2][0]

7

In [28]:
lst[0][1]

2

In [29]:
lst[0][2]

3

In [30]:
lst[1][1]

5

In [31]:
lst[1][2]

6

In [32]:
lst[2][1]

8

In [33]:
lst[2][2]

9

In [34]:
#list comprehension
newlst= [row[0]for row in lst]

In [35]:
newlst

[1, 4, 7]

In [36]:
newlst = [row[1] for row in lst]

In [37]:
newlst

[2, 5, 8]

In [38]:
newlst = [row[2] for row in lst]
newlst

[3, 6, 9]